.pagination__list {
    display: flex;
    gap: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination__item {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.page__active {
    background-color: red;
    color: white;
}